@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#navBtn {
  background: transparent;
  color: black;
  border-style: none;
}

#toolBtn {
  border-color: black;
}

#headerBtn {
  background: transparent;
  color: black;
  border-style: none;
  font-weight: bold;
}

#cellBtn {
  background: transparent;
  border-width: 0;
  color: black;
  width: 100%;
  height: 100%;
}

#searchBar {
  min-width: 600px;
  max-width: 600px;
  height: 40px;
}

.boxShadow {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0;
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome and Safari */
}